<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<h2>Example table</h2>
<table>
	<thead>
		<tr>
			<th>one</th>
			<th>two</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>foo</td>
			<td>bar</td>
		</tr>
		<tr>
			<td>blah</td>
			<td>bleh</td>
		</tr>
	</tbody>
</table>
<h2>Example form</h2>
<form>
	<input />
</form>
<%= _.render('inc/pageBottom', obj) %>