*
{
	box-sizing:                     border-box;
}

html,
body
{
	min-height:                     100%;
	height:                         100%;
	overflow:                       auto;
}

body
{
	background:                     #ccc;
	color:                          #444;
	font-family:                    Arial, sans-serif;
	font-size:                      1.3rem;
	-webkit-font-smoothing:         subpixel-antialiased;
	-moz-osx-font-smoothing:        auto;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	letter-spacing:                 0.08rem;
}

h1
{
	margin:                         1.4rem 0;
	font-size:                      3.6rem;
	font-weight:                    200;
	line-height:                    normal;
}

h2,
fieldset > legend
{
	margin:                         0 0 2rem 0;
	font-size:                      2.8rem;
	font-weight:                    200;
	line-height:                    normal;
}

p
{
	margin:                         0 0 2rem;
}

a
{
	text-decoration:                underline;
	color:                          #3a7ac0;
}

ul,
ul ul,
ul ol,
ol ol,
ol ul,
li,
form,
input,
textarea,
fieldset
{
	font-size:                      inherit;
	margin-bottom:                  0;
}

	fieldset
	{
		margin-bottom:                  2.5rem;
	}

label,
legend
{
	font-weight:                    normal;
	margin-bottom:                  0;
}

/* Remove ugly dotted outline around links */
::-moz-focus-inner,
:active,
:focus
{
	outline:                        none;
	border:                         0;
	-moz-outline-style:             none;
}

/* Remove ugly dotted outline around selects (Firefox) */
@-moz-document url-prefix()
{
	select
	{
		color:                        transparent;
		text-shadow:                  0 0 0 #444;
	}
}

select,
select:active,
select:focus,
input[type="text"],
input[type="date"],
input[type="number"],
input[type="datetime"],
input[type="datetime-local"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="range"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="week"],
input[type="color"],
input[type="password"],
textarea
{
	-moz-appearance:                none;
	-webkit-appearance:             none;
	background-color:               transparent;
	border:                         1px solid #d8d8d8;
	border-radius:                  0.3rem;
	background-clip:                padding-box;
	height:                         auto;
	line-height:                    normal;
	margin-bottom:                  0;
	outline:                        none;
	padding:                        0.6rem 2.5rem 0.6rem 1.5rem;
	position:                       relative;
	width:                          100%;
	max-width:                      100%;
	z-index:                        99;
	font-size:                      1.3rem;
}

	select:hover,
	input[type="text"]:hover,
	input[type="password"]:hover
	{
		border:                         1px solid #a5a6a8;
	}

	select:focus,
	input[type="text"]:focus,
	input[type="password"]:focus
	{
		border:                         1px solid #777;
	}

	select.disabled,
	select.disabled:active,
	select.disabled:focus,
	select.disabled:hover,
	input[type="text"].disabled,
	input[type="text"].disabled:hover,
	input[type="password"].disabled,
	input[type="password"].disabled:hover,
	textarea.disabled,
	textarea.disabled:hover
	{
		border:                       0;
	}

select::-ms-expand
{
	display:                        none;
}

.warning-text
{
	color:                          #f00;
	font-weight:                    bold;
}
