@media print {
	html,
	body
	{
		min-height:                     0;
		height:                         auto;
		overflow:                       visible;
	}

	.main_nav
	{
		display:                        none;
	}

	.section.main_wrapper .section.content
	{
		left:                           0 ! important;
	}
}