<header id="header" class="section header">
	<ul>
		<li><a href="/" class="site_logo">Larv IT Admin GUI</a></li>
		<li class="nav_trigger">
			<a href="#main_nav" class="open_menu">
				<span class="br_icon_hamburger"></span>
			</a>
			<a href="#" class="close_menu">
				<span class="br_icon_hamburger"></span>
			</a>
		</li>
		<li class="right">
			<div class="txt user hidden_md">
				<a href="/logout">Log out</a>
				<!--form>
					<div class="select_wrapper">
						<div class="sel_wrap br_icon_down_arrow">
							<select name="user" id="user">
								<option value="">Namn Namnsson</option>
								<option value="profil">Profil</option>
								<option value="loggaut">Logga ut</option>
							</select>
						</div>
					</div>
				</form-->
			</div>
			<!--span class="avatar">
				<img src="images/avatar.png" alt="avatar" />
			</span-->
		</li>
		<!--li class="right">
			<div class="txt hidden_md">
				<form method="post">
					<div class="input_wrapper">
						<div class="input_wrap">
							<input type="text" name="search" id="search" placeholder="Sök" />
							<button type="submit">
								<span class="br_icon_search"></span>
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="visible_md">
				<a href="#">
					<span class="br_icon_search"></span>
				</a>
			</div>
		</li-->
	</ul>
</header>