<nav class="navbar navbar-dark bg-warning">
	<a class="navbar-brand" href="#">Larv IT Admin GUI</a>

	<div class="navbar-nav">
		<a class="btn btn-secondary	" role="button" href="/logout">Log out</a>
	</div>
</nav>