<!DOCTYPE html>
<html lang="en">
	<head>
		<title><% if (obj.global !== undefined && obj.global.title !== undefined) { print(obj.global.title); } else { print('LarvIT Admin GUI'); } %></title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<base href="/" />
		<link rel="icon"       type="image/svg+xml" href="favicon.svg" sizes="any" />
		<link rel="icon"       type="image/png"     href="favicon.png" />
		<link rel="stylesheet" type="text/css"      href="css/normalize.css" />
		<link rel="stylesheet" type="text/css"      href="css/skeleton.css" />
		<link rel="stylesheet" type="text/css"      href="css/icons.css" />
		<link rel="stylesheet" type="text/css"      href="js/vendor/jquery-ui/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css"      href="js/vendor/jquery-ui/jquery.tagit.css" />
		<link rel="stylesheet" type="text/css"      href="css/general.css" />
		<link rel="stylesheet" type="text/css"      href="css/shared.css" />
		<link rel="stylesheet" type="text/css"      href="css/buttons.css" />
		<link rel="stylesheet" type="text/css"      href="css/custom.css" />
		<link rel="stylesheet" type="text/css"      href="css/theme.css" />

		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/jquery-ui/jquery-ui.min.js"></script>
		<script src="js/vendor/jquery-ui/tag-it.min.js"></script>
		<script src="js/vendor/js.cookie.js"></script>
		<script src="js/jquery.custom.resize.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/theme.js"></script>
	</head>