<nav class="main_nav">
	<ul class="accordion">
		<%
		if (obj.global !== undefined && obj.global.menuStructure !== undefined) {
			var i = 0,
			    found;

			_.forEach(obj.global.menuStructure, function(menuItems, groupName) {
				i ++;
				found = false;
				%>
				<li>
					<%
					_.forEach(menuItems, function(menuItem) {
						if (obj.global.controllerName === menuItem.controllerName) {
							found = true;
						}
					});
					%>
					<input class="cp_nav" type="checkbox" name="cp_<%= i %>" id="cp_<%= i %>" checked="checked" />
					<label for="cp_<%= i %>"><%= groupName %><div class="after_icon plus"></div><div class="after_icon minus"></div></label>
					<ul class="content">
						<% _.forEach(menuItems, function(menuItem) { %>
							<li>
								<a
									class="before_icon caret_right<%
										if (obj.global.controllerName === menuItem.controllerName || obj.global.menuControllerName === menuItem.controllerName) {
											print(' active');
										}
									%>"
									href="<%= menuItem.href %>"
								><%= menuItem.label %></a>
							</li>
						<% }); %>
					</ul>
				</li>
			<% }); %>
		<% } %>
	</ul>
</nav>