<nav class="mainNav">
	<ul class="accordion">
		<%
		if (obj.global !== undefined && obj.global.menuStructure !== undefined) {
			let	i	= 0;

			_.forEach(obj.global.menuStructure, function(menuItems, groupName) {
				let	visibleMenuItems	= false;
				i ++;

				// Check if there are any visible items in this group name
				_.forEach(menuItems, function(menuItem) {
					if (menuItem.loggedInUserGotAccess) {
						visibleMenuItems	= true;
					}
				});

				if (visibleMenuItems) {
				%>
				<li>
					<input class="cp_nav" type="checkbox" name="cp_<%= i %>" id="cp_<%= i %>" checked="checked" />
					<label for="cp_<%= i %>"><%= groupName %><div class="after_icon plus"></div><div class="after_icon minus"></div></label>
					<ul class="content">
						<% _.forEach(menuItems, function(menuItem) { if (menuItem.loggedInUserGotAccess) { %>
							<li>
								<a
									class="before_icon caret_right<%
										if (obj.global.controllerName === menuItem.controllerName || obj.global.menuControllerName === menuItem.controllerName) {
											print(' active');
										}
									%>"
									href="<%= menuItem.href %>"
								><%= menuItem.label %></a>
							</li>
						<% }}); %>
					</ul>
				</li>
			<% }}); %>
		<% } %>
	</ul>
</nav>
