<body<% if (obj.bodyClass !== undefined) { print(' class="' + obj.bodyClass + '"'); } %>>
	<script>document.body.className = document.body.className === '' ? 'js' : document.body.className + ' js';</script>
	<div class="page_wrapper">
		<span class="target_fix" id="mainNav"></span>
		<%= _.render('inc/header', obj) %>
		<section class="section main_wrapper">
			<%= _.render('inc/mainNav', obj) %>
			<section class="section content">
				<div id="content_header" class="row">
					<h1><%
						var pageHeader = false;
						if (obj.global !== undefined && obj.global.menuStructure !== undefined) {
							_.forEach(obj.global.menuStructure, function(menuItems, groupName) {
								_.forEach(menuItems, function(menuItem) {
									if ((menuItem.controllerName === obj.global.controllerName || menuItem.controllerName === obj.global.menuControllerName) && menuItem.pageHeader !== undefined) {
										pageHeader = menuItem.pageHeader;
									}
								});
							});
						}

						if (pageHeader) {
							print(pageHeader);
						} else {
							print('No header found');
						}
					%></h1>
				</div>
				<%= _.render('inc/breadcrumbs', obj) %>
				<div id="content_wrapper" class="content_wrapper">
					<%= _.render('inc/subNav', obj) %>
					<div class="wrap">
						<%
							if (obj.global.messages instanceof Array) {
								_.forEach(obj.global.messages, function(msgStr) {
									print(_.render('inc/msgBox', {'msgClass': 'happy', 'msgTxt': msgStr}));
								});
							}
							if (obj.global.warnings instanceof Array) {
								_.forEach(obj.global.warnings, function(warningStr) {
									print(_.render('inc/msgBox', {'msgClass': 'warn', 'msgTxt': warningStr}));
								});
							}
							if (obj.global.errors instanceof Array) {
								_.forEach(obj.global.errors, function(errStr) {
									print(_.render('inc/msgBox', {'msgClass': 'sad', 'msgTxt': errStr}));
								});
							}
						%>
