<ul id="content_top_nav" class="subNav"><%
	if (obj.global !== undefined && obj.global.menuStructure !== undefined) {
		_.forEach(obj.global.menuStructure, function(menuItems, groupName) {
			_.forEach(menuItems, function(menuItem) {
				if (
					(obj.global.menuControllerName !== undefined && obj.global.menuControllerName === menuItem.controllerName)
					|| (obj.global.menuControllerName === undefined && menuItem.controllerName === obj.global.controllerName)
				) {
					if (menuItem.subNav !== undefined) {
						_.forEach(menuItem.subNav, function(subNavItem) { if (subNavItem.loggedInUserGotAccess) { %>
							<li>
								<a class="button dblue<%
									if (subNavItem.href.substring(0, obj.global.urlParsed.pathname.length) === obj.global.urlParsed.pathname) {
										print(' active');
									}
								%>" href="<%= subNavItem.href %>"><%= subNavItem.label %></a>
							</li>
						<% }});
					}
				}
			});
		});
	}
%></ul>
