
<% const cssVersion = data && data.global && data.global.cssVersion ? data.global.cssVersion : ''; %>

<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= (data.global && data.global.title) ? data.global.title : 'LarvIT Admin GUI' %></title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<base href="/" />
		<link rel="icon"       type="image/svg+xml" href="favicon.svg" sizes="any" />
		<link rel="icon"       type="image/png"     href="favicon.png" />
		<link rel="stylesheet" type="text/css"      href="css/normalize.css?<%=cssVersion%>" />
		<link rel="stylesheet" type="text/css"      href="css/skeleton.css?<%=cssVersion%>" />
		<link rel="stylesheet" type="text/css"      href="css/icons.css?<%=cssVersion%>" />
		<link rel="stylesheet" type="text/css"      href="vendor/jquery-ui/jquery-ui.min.css?<%=cssVersion%>" />
		<link rel="stylesheet" type="text/css"      href="css/general.css?<%=cssVersion%>" />
		<link rel="stylesheet" type="text/css"      href="css/shared.css?<%=cssVersion%>" />
		<link rel="stylesheet" type="text/css"      href="css/buttons.css?<%=cssVersion%>" />
		<link rel="stylesheet" type="text/css"      href="css/custom.css?<%=cssVersion%>" />
		<link rel="stylesheet" type="text/css"      href="css/theme.css?<%=cssVersion%>" />

		<script src="vendor/js/lodash.min.js?<%=cssVersion%>"></script>
		<script src="vendor/js/jquery.min.js?<%=cssVersion%>"></script>
		<script src="vendor/jquery-ui/jquery-ui.min.js?<%=cssVersion%>"></script>
		<script src="vendor/js/js.cookie.js?<%=cssVersion%>"></script>
		<script src="js/jquery.custom.resize.js?<%=cssVersion%>"></script>
		<script src="js/custom.js?<%=cssVersion%>"></script>
		<script src="js/theme.js?<%=cssVersion%>"></script>
	</head>
