<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		<%= (data && data.global && data.global.title) ? data.global.title : 'LarvIT Admin GUI' %>
	</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<base href="/" />
	<link rel="icon" type="image/svg+xml" href="favicon.svg" sizes="any" />
	<link rel="icon" type="image/png" href="favicon.png" />
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous" />
	<link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css" crossorigin="anonymous" />
	<link rel="stylesheet" href="node_modules/jquery-ui-dist/jquery-ui.theme.min.css" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="css/theme.css" />

	<script src="node_modules/jquery/dist/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="node_modules/popper.js/dist/umd/popper.min.js"
	 crossorigin="anonymous"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script src="node_modules/jquery-ui-dist/jquery-ui.min.js" crossorigin="anonymous"></script>

	<style type="text/css">
		body {
			background-color: rgb(245, 245, 245);
			height: 100vh;
		}

		#topbar {
			box-shadow: 0px 0px 4px rgb(68, 68, 68);
		}

		.wrapper {
			margin-top: 55px;
			display: flex;
			align-items: stretch;
		}

		#sidebar {
			min-width: 250px;
			max-width: 250px;
			min-height: calc(100vh);
			background-color: rgb(220, 220, 220);
			transition: all 0.3s;
		}

		#sidebar ul.components li a {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		#sidebar ul p {
			color: #fff;
		}

		#sidebar ul li {
			border-bottom: 1px solid #ccc;
		}

		#sidebar ul li a {
			padding: 7px;
			display: block;
			color: #333;
		}

		#sidebar ul li a:hover {
			background: #ccc;
			text-decoration: none;
		}

		#sidebar ul li.active>a,
		a[aria-expanded="true"] {
			background: rgb(245, 245, 245);
		}

		#sidebar.active {
			margin-left: -250px;
		}

		.bg-white {
			background-color: #fff;
		}

		#myTabContent {
			background-color: #fff;
			border-left: 1px solid #dee2e6;
			border-right: 1px solid #dee2e6;
			border-bottom: 1px solid #dee2e6;
		}
	</style>
</head>