<nav id="topbar" class="navbar bg-white navbar-light fixed-top navbar-expand-md">
	<a class="navbar-brand" href="#">
		<img src="images/larvit.svg" height="30" alt="">
	</a>
<!--
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
-->
	<div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
		<a class="btn btn-outline-warning my-2 my-sm-0" href="/logout">Log out</a>
	</div>
</nav>