<nav class="navbar navbar-dark bg-light border-bottom shadow-semi-dark">
	<a class="navbar-brand font-weight-bold text-dark" href="#">Larv IT Admin GUI</a>

	<div class="navbar-nav">
		<a class="btn btn-lg btn-outline-warning" role="button" href="/logout">Log out</a>
	</div>
</nav>