<nav id="sidebar">
	<ul class="list-unstyled components">
			<%
			if (data !== undefined && data.global !== undefined && data.global.menuStructure !== undefined) {

				_.forEach(data.global.menuStructure, function(menuGroupItem, groupName) {
					let	visibleMenuItems	= false;
					// Check if there are any visible items in this group name
					_.forEach(menuGroupItem.menuItems, function(menuItem) {
						if (menuItem.loggedInUserGotAccess) {
							visibleMenuItems	= true;
						}
					});

					if (visibleMenuItems) {
					%>
					<li>
						<a class="<% if (menuGroupItem.menuItems && menuGroupItem.menuItems.length > 0) { %>dropdown-toggle<% } %>"
							href="#collapse-<%- groupName.replace(/ /g, '') %>" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-<%- groupName %>">
							<span><%- groupName %></span>
						</a>
					</li>

					<% if (menuGroupItem.menuItems && menuGroupItem.menuItems.length > 0) { %>
						<ul class="collapse list-unstyled ml-3" id="collapse-<%- groupName.replace(/ /g, '') %>">
							<% _.forEach(menuGroupItem.menuItems, function(menuItem) { if (menuItem.loggedInUserGotAccess) { %>
								<li>
									<a href="<%= menuItem.href %>" class="<%
										if (data.global.controllerName === menuItem.controllerName || data.global.menuControllerName === menuItem.controllerName) { %>
											<%= 'active' %>
										<% }
									%>""><%- menuItem.label %></a>
								</li>
							<% }}); %>
						</ul>
					<% } %>

				<% }
				});
			} %>
		</ul>
</nav>