
<body>
	<div class="container-fluid fill px-0 h-100">
		<div class="row">
			<div class="col on-top">
				<%- include('inc/header', data) %>
			</div>
		</div>
		<div class="row h-100 mt-0 pt-0">
			<div class="col bg-semi-dark col-sm-2 pr-0">
				<%- include('inc/mainNav', data) %>
			</div>
			<div class="col col-sm-10 bg-light-gray h-100">
				<h1 class="mt-3 custom-dark-color">
					<% var pageHeader = false;
					if (data.global !== undefined && data.global.menuStructure !== undefined) {
						_.forEach(data.global.menuStructure, function(menuItems, groupName) {
							_.forEach(menuItems, function(menuItem) {
								if ((menuItem.controllerName === data.global.controllerName || menuItem.controllerName === data.global.menuControllerName) && menuItem.pageHeader !== undefined) {
									pageHeader = menuItem.pageHeader;
								}
							});
						});
					}

					if (pageHeader) { %>
						<%= pageHeader %>
					<% } else { %>
						No header found
					<% } %>
				</h1>
				<%- include('inc/subNav', data) %>
				<div class="container-fluid tab-content border-left border-bottom border-right h-75 pt-3 pl-3 bg-white">
					
		
	

