

<body>
	<div class="wrapper">
		<%- include('inc/header', data) %>
		<%- include('inc/mainNav', data) %>
		<main id="main" role="main" class="container-fluid">
			<div class="row mt-md-3">
				<div class="col-12">
					<h2 class="mt-3 custom-dark-color">
						<% var pageHeader = false;
							if (data && data.global !== undefined && data.global.menuStructure !== undefined) {
								_.forEach(data.global.menuStructure, function(menuItems, groupName) {
									_.forEach(menuItems, function(menuItem) {
										if ((menuItem.controllerName === data.global.controllerName || menuItem.controllerName === data.global.menuControllerName) && menuItem.pageHeader !== undefined) {
											pageHeader = menuItem.pageHeader;
										}
									});
								});
							}

						if (pageHeader) {
							%><%= pageHeader %><%
						} else {
							%>No header found<%
						} %>
					</h2>

					<%- include('inc/subNav', data) %>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active p-5" id="home" role="tabpanel" aria-labelledby="home-tab">



