<ul id="content_top_nav" class="subNav"><%
	if (data.global !== undefined && data.global.menuStructure !== undefined) {
		_.forEach(data.global.menuStructure, function(menuItems, groupName) {
			_.forEach(menuItems, function(menuItem) {
				if (
					(data.global.menuControllerName !== undefined && data.global.menuControllerName === menuItem.controllerName)
					|| (data.global.menuControllerName === undefined && menuItem.controllerName === data.global.controllerPath)
				) {
					if (menuItem.subNav !== undefined) {
						_.forEach(menuItem.subNav, function(subNavItem) { if (subNavItem.loggedInUserGotAccess) { %>
							<li>
								<a class="button dblue<%
									if (subNavItem.href === data.global.urlParsed.path) {
										print(' active');
									}
								%>" href="<%= subNavItem.href %>"><%= subNavItem.label %></a>
							</li>
						<% }});
					}
				}
			});
		});
	}
%></ul>
