<div class="toolbarFixed">
	<ul class="subNav">
		<%
			function writeButton(button) {
				if (button.type === 'button') {
					print('<button type="submit"');
				} else {
					print('<a href="' + button.href + '"');
				}

				if (button.id) {
					print(' id="' + button.id + '"');
				}

				print(' class="button');

				if (button.warning) {
					print(' warning');
				}

				if (button.strong) {
					print(' inv');
				}

				print('"');

				if (button.name) {
					print(' name="' + button.name + '"');
				}

				if (button.value) {
					print(' value="' + button.value + '"');
				}

				print('>' + button.label);

				if (button.type === 'button') {
					print('</button>');
				} else {
					print('</a>');
				}
			}

			if (data.rightButtons) {
				_.forEach(rightButtons, function(button) {
					print('<li class="u-pull-right">');
					writeButton(button);
					print('</li>');
				});
			}

			if (data.leftButtons) {
				_.forEach(leftButtons, function(button) {
					print('<li class="u-pull-left">');
					writeButton(button);
					print('</li>');
				});
			}
		%>
	</ul>
</div>